@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Oluşturucu</title>
    <link rel="stylesheet" href="~/css/styles.css">
    
</head>
<body>
    <div class="container">
        <div>
            <label for="length">Şifre Uzunluğu: <span id="lengthValue">12</span></label>
            <input type="range" id="length" min="4" max="30" value="12">
        </div>
        <div>
            <input type="checkbox" id="uppercase" checked> Büyük Harf
        </div>
        <div>
            <input type="checkbox" id="lowercase" checked> Küçük Harf
        </div>
        <div>
            <input type="checkbox" id="numbers" checked> Sayılar
        </div>
        <div>
            <input type="checkbox" id="symbols" checked> Semboller
        </div>
        <button id="generate">Şifre Oluştur</button>
        <input type="text" id="password" readonly>
        <button id="copy">Kopyala</button>
        <div id="notification" style="display: none;"></div>
    </div>

    <script src="~/js/script.js"></script>
</body>

</html>
